*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font: inherit;
}

::selection {
  background: var(--primary-color);
  color: var(--white);
}

::placeholder {
  color: var(--gray-2);
  opacity: 1;
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html.no-scroll {
  overflow: hidden;
  position: fixed;
}

body {
  background: var(--white);
  color: var(--text-color);
  font-family: var(--body-font);
  font-variation-settings: "wght" var(--font-weight-normal);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  overscroll-behavior: none;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}
a {
  color: var(--link-color);
  transition: all 0.12s linear 0s;
}
a:hover {
  color: var(--link-color-hover);
}
a:active {
  color: var(--link-color-hover);
}
a:focus {
  outline: none;
}

.invert {
  color: var(--link-color-hover);
  transition: all 0.12s linear 0s;
}
.invert:hover {
  color: var(--link-color);
}
.invert:active {
  color: var(--link-color);
}
.invert:focus {
  outline: none;
}

p,
ul,
ol,
dl {
  margin-top: 1.6rem;
}

blockquote,
hr {
  margin-top: 2.6666666667rem;
  margin-bottom: 2.6666666667rem;
}

figure {
  margin-top: 2.1333333333rem;
}

pre,
table {
  margin-top: 1.6rem;
  margin-bottom: 2.1333333333rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  font-family: var(--heading-font);
  font-variation-settings: "wght" var(--headings-weight);
  font-style: var(--headings-style);
  hyphens: manual;
  letter-spacing: var(--headings-letter-spacing);
  line-height: var(--headings-line-height);
  margin-top: 2.1333333333rem;
  text-transform: var(--headings-transform);
}

h1,
.h1 {
  font-size: clamp(1.3808408252rem, 1.3808408252rem + 0.5258805593 * (100vw - 20rem) / 70, 1.9067213845rem);
}

h2,
.h2 {
  font-size: clamp(1.2945382732rem, 1.2945382732rem + 0.3812910676 * (100vw - 20rem) / 70, 1.6758293408rem);
}

h3,
.h3 {
  font-size: clamp(1.2136296308rem, 1.2136296308rem + 0.2592672499 * (100vw - 20rem) / 70, 1.4728968807rem);
}

h4,
.h4 {
  font-size: clamp(1.1377777785rem, 1.1377777785rem + 0.1567604947 * (100vw - 20rem) / 70, 1.2945382732rem);
}

h5,
.h5 {
  font-size: clamp(1rem, 1rem + 0.1377777785 * (100vw - 20rem) / 70, 1.1377777785rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 1rem + 0 * (100vw - 20rem) / 70, 1rem);
}

h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 1.0666666667rem;
}

b,
strong {
  font-variation-settings: "wght" var(--font-weight-bold);
}

blockquote {
  background-color: var(--lighter);
  border-left: 2px solid var(--primary-color);
  margin-left: 1rem;
  padding: 1.8666666667rem 1.6rem;
  position: relative;
  text-align: center;
  font-size: clamp(1rem, 1rem + 0.066666667 * (100vw - 20rem) / 70, 1.066666667rem);
}
blockquote::after {
  color: var(--primary-color);
  content: "“";
  font: var(--font-weight-normal) 320%/1 Georgia, Times, Times New Roman, serif;
  left: -15px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
blockquote::before {
  background: var(--white);
  content: "";
  display: block;
  height: 40px;
  left: -4px;
  position: absolute;
  width: 4px;
  top: 50%;
  transform: translate(0, -50%);
}
blockquote > :nth-child(1) {
  margin-top: 0;
}

ul,
ol {
  margin-left: 2rem;
}
ul > li,
ol > li {
  list-style: inherit;
  padding: 0 0 0.5333333333rem 0.5333333333rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0.5333333333rem;
  margin-top: 0.5333333333rem;
}

dl dt {
  font-variation-settings: "wght" var(--font-weight-bold);
}

code {
  background-color: rgba(var(--code-bg), 0.08);
  border-radius: 2px;
  color: var(--code-color);
  font-size: 0.8789062495rem;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  padding: 0.2666666667rem 0.5333333333rem;
}

pre {
  background-color: var(--lighter);
  border-radius: 3px;
  font-size: 0.8789062495rem;
  padding: 1.6rem;
  white-space: pre-wrap !important;
  word-wrap: break-word;
  width: 100%;
  overflow: scroll;
}
pre code {
  background-color: var(--lighter);
  color: inherit !important;
  font-size: inherit;
  padding: 0;
}

table {
  border: 1px solid var(--light);
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
  text-align: left;
  width: 100%;
}
table th {
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 0.6666666667rem 1.0666666667rem;
}
table td {
  border-top: 1px solid var(--light);
  padding: 0.6666666667rem 1.0666666667rem;
}

.table-striped tr:nth-child(2n) {
  background: var(--lighter);
}
.table-bordered th,
.table-bordered td {
  border: 1px solid var(--light);
}
.table-title th {
  background: var(--lighter);
}

figcaption {
  color: var(--gray-2);
  font-family: var(--body-font);
  font-variation-settings: "wght" var(--font-weight-normal);
  font-size: 0.8239746086rem;
  font-style: italic;
  margin-top: 0.8rem;
  text-align: center;
}

kbd {
  background: var(--light);
  border-radius: 2px;
  color: var(--dark);
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 0.8888em;
  padding: 0.1333333333rem 0.4rem;
}

sub,
sup {
  font-size: 65%;
}

small {
  font-size: 0.8789062495rem;
}

hr {
  background: none;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center;
}
hr::before {
  content: "···";
  color: var(--headings-color);
  font-size: 1.2945382732rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  letter-spacing: 1.1377777785rem;
  padding-left: 1.1377777785rem;
}

.btn, [type=button],
[type=submit],
button {
  background: var(--primary-color);
  border: none;
  border-radius: 6px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 0.9374999997rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 0.6666666667rem 1.3333333333rem;
  text-align: center;
  transition: all 0.24s ease;
  vertical-align: middle;
  width: 100%;
  will-change: box-shadow;
}
@media all and (min-width: 20em) {
  .btn, [type=button],
  [type=submit],
  button {
    width: auto;
  }
}
.btn:hover, [type=button]:hover,
[type=submit]:hover,
button:hover, .btn:active, [type=button]:active,
[type=submit]:active,
button:active {
  background: rgba(var(--primary-color-rgb), 0.85);
  color: var(--white);
}
.btn:focus, [type=button]:focus,
[type=submit]:focus,
button:focus {
  outline: none;
}
@media all and (max-width: 19.9375em) {
  .btn + .btn, [type=button] + .btn,
  [type=submit] + .btn,
  button + .btn, .btn + [type=button], [type=button] + [type=button],
  [type=submit] + [type=button],
  button + [type=button],
  .btn + [type=submit],
  [type=button] + [type=submit],
  [type=submit] + [type=submit],
  button + [type=submit],
  .btn + button,
  [type=button] + button,
  [type=submit] + button,
  button + button {
    margin-top: 0.5333333333rem;
  }
}
@media all and (min-width: 20em) {
  .btn + .btn, [type=button] + .btn,
  [type=submit] + .btn,
  button + .btn, .btn + [type=button], [type=button] + [type=button],
  [type=submit] + [type=button],
  button + [type=button],
  .btn + [type=submit],
  [type=button] + [type=submit],
  [type=submit] + [type=submit],
  button + [type=submit],
  .btn + button,
  [type=button] + button,
  [type=submit] + button,
  button + button {
    margin-left: 0.5333333333rem;
  }
}
.btn:disabled:not(.search__submit), [type=button]:disabled:not(.search__submit),
[type=submit]:disabled:not(.search__submit),
button:disabled:not(.search__submit) {
  background-color: var(--light);
  color: var(--gray-1);
  cursor: not-allowed;
}

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

fieldset {
  border: 1px solid var(--light);
  margin: 0 0 1.6rem;
  padding: 1.6rem;
}
fieldset > legend {
  margin-left: -1rem;
  padding: 0 1rem;
}

legend {
  font-variation-settings: "wght" 500;
  padding: 0;
}

label {
  font-variation-settings: "wght" 500;
  margin: 0 1.0666666667rem 0.8rem 0;
}

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: var(--white);
  border: 1px solid var(--light);
  border-radius: var(--border-radius);
  font-size: 1rem;
  outline: none;
  padding: 0.5333333333rem 0.8rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media all and (min-width: 37.5em) {
  [type=text],
  [type=url],
  [type=tel],
  [type=number],
  [type=email],
  [type=search],
  textarea,
  select {
    width: auto;
  }
}
[type=text]:focus,
[type=url]:focus,
[type=tel]:focus,
[type=number]:focus,
[type=email]:focus,
[type=search]:focus,
textarea:focus,
select:focus {
  border-color: var(--primary-color);
  box-shadow: inset 0 0 2px var(--primary-color);
}

input[type=checkbox],
input[type=radio] {
  border-radius: var(--border-radius);
  opacity: 0;
  position: absolute;
}
input[type=checkbox] + label,
input[type=radio] + label {
  position: relative;
  margin-left: -1px;
  cursor: pointer;
  padding: 0;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  background-color: var(--white);
  border: 1px solid var(--light);
  border-radius: 2px;
  content: "";
  display: inline-block;
  height: 1.3333333333rem;
  line-height: 1.3333333333rem;
  margin-right: 1.0666666667rem;
  vertical-align: middle;
  text-align: center;
  width: 1.3333333333rem;
}
input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%235468ff'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: 50% 50%;
}

input[type=radio] + label:before {
  border-radius: 50%;
}
input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%235468ff'/%3e%3c/svg%3e");
}

[type=file] {
  margin-bottom: 1.6rem;
  width: 100%;
}

select {
  max-width: 100%;
  width: auto;
  position: relative;
}
select:not([multiple]) {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%235468ff"/></svg>') no-repeat 90% 50%;
  background-size: 8px !important;
  padding-right: 3.2rem;
}

select[multiple] {
  border: 1px solid var(--light);
  padding: 1.6rem;
  width: 100%;
}
select[multiple]:hover {
  border-color: var(--light);
}
select[multiple]:focus {
  border-color: var(--dark);
}
select[multiple]:disabled {
  background-color: var(--gray-2);
  cursor: not-allowed;
}
select[multiple]:disabled:hover {
  border-color: var(--light);
}

textarea {
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%;
}

.header {
  align-items: center;
  display: flex;
  height: var(--navbar-height);
  position: absolute;
  padding: 0 var(--page-margin);
  top: 0;
  width: 100%;
  z-index: 3;
}
@media all and (min-width: 56.25em) {
  .header {
    justify-content: space-between;
    height: var(--navbar-height);
  }
}
.header.is-pinned {
  animation: header 0.24s ease-out backwards;
  background: none;
  position: fixed;
}
@keyframes header {
  from {
    transform: translate(0, -15%);
  }
  to {
    transform: translate(0, 0);
  }
}
.header.is-sticky {
  background: none;
  position: fixed;
  height: var(--navbar-height);
}
.header.is-sticky.no-search {
  background-color: var(--lighter);
  border-bottom: 1px solid var(--light);
}
@media all and (max-width: 56.1875em) {
  .header__links {
    margin-right: 2.1333333333rem;
    order: 2;
  }
}
@media all and (min-width: 56.25em) {
  .header__links {
    margin-left: 3.2rem;
  }
}
.header__linksUrl {
  display: inline-block;
  margin-left: 0.5333333333rem;
}
.header__linksUrl > svg {
  display: inline-block;
  vertical-align: text-bottom;
  transition: all 0.18s ease-out;
}
.header__linksUrl > svg:hover {
  transform: scale(1.15);
}

.logo {
  color: var(--logo-color) !important;
  font-family: var(--logo-font);
  font-variation-settings: "wght" var(--font-weight-bold);
  font-size: 1.2945382732rem;
  margin-right: auto;
  text-transform: uppercase;
  white-space: nowrap;
}
@media all and (max-width: 56.1875em) {
  .logo {
    text-align: center;
  }
}
.logo > img {
  height: var(--navbar-height);
  object-fit: contain;
  width: auto;
}

@media all and (max-width: 56.1875em) {
  .navbar {
    order: 3;
  }
}
.navbar .navbar__menu {
  display: flex;
  list-style: none;
  margin: 0 -0.8rem 0 0;
  padding: 0;
}
@media all and (max-width: 56.1875em) {
  .navbar .navbar__menu {
    display: none;
  }
}
.navbar .navbar__menu li {
  display: block;
  font-size: 0.9374999997rem;
  font-family: var(--menu-font);
  font-variation-settings: "wght" var(--font-weight-normal);
  line-height: var(--line-height);
  padding: 0;
  position: relative;
  white-space: nowrap;
}
.navbar .navbar__menu li a,
.navbar .navbar__menu li span[aria-haspopup=true] {
  color: var(--text-color);
  display: block;
  padding: 0.8rem 0.5333333333rem;
  transition: all 0.24s ease-out;
}
.navbar .navbar__menu li a:active, .navbar .navbar__menu li a:focus, .navbar .navbar__menu li a:hover,
.navbar .navbar__menu li span[aria-haspopup=true]:active,
.navbar .navbar__menu li span[aria-haspopup=true]:focus,
.navbar .navbar__menu li span[aria-haspopup=true]:hover {
  color: var(--primary-color);
}
.navbar .navbar__menu li span {
  color: var(--text-color);
  cursor: default;
  display: block;
  padding: 0.8rem 0.5333333333rem;
}
.navbar .navbar__menu > li {
  margin-left: 0.5333333333rem;
}
.navbar .navbar__menu > li.active a,
.navbar .navbar__menu > li.active span, .navbar .navbar__menu > li.active-parent a,
.navbar .navbar__menu > li.active-parent span {
  box-shadow: inset 0 -2px 0 0 var(--primary-color);
  color: var(--primary-color);
  font-variation-settings: "wght" var(--font-weight-bold);
}
.navbar .navbar__menu > li:hover > a, .navbar .navbar__menu > li:hover > span[aria-haspopup=true] {
  color: var(--primary-color);
}
.navbar .navbar__menu > li:hover > [aria-haspopup=true] {
  box-shadow: none;
}
.navbar .has-submenu:active > .navbar__submenu,
.navbar .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu:hover > .navbar__submenu {
  left: 0;
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  margin-top: 0;
}
.navbar .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu:hover > .navbar__submenu.is-right-submenu {
  left: auto;
  right: 0;
  transform-origin: right top;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu {
  top: 0;
  margin-top: 0;
}
.navbar .has-submenu .has-submenu:active > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:focus > .navbar__submenu.is-right-submenu,
.navbar .has-submenu .has-submenu:hover > .navbar__submenu.is-right-submenu {
  top: 0;
  margin-top: 0;
}
.navbar .navbar__submenu {
  background: var(--primary-color);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  left: -9999px;
  list-style-type: none;
  margin: 0;
  padding: 0.5333333333rem 0;
  position: absolute;
  text-align: left;
  visibility: hidden;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transform: scale(0.8);
  transform-origin: 0 top;
  transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar .navbar__submenu__submenu {
  z-index: 2;
}
.navbar .navbar__submenu li {
  line-height: 1.5;
  font-size: 0.8789062495rem;
  font-variation-settings: "wght" var(--font-weight-normal);
  padding: 0 0.8rem;
  text-transform: none;
}
.navbar .navbar__submenu li a,
.navbar .navbar__submenu li span[aria-haspopup=true] {
  color: var(--white) !important;
  padding: 0.5333333333rem 1.0666666667rem;
  transition: all 0.24s ease;
}
.navbar .navbar__submenu li a:active, .navbar .navbar__submenu li a:focus, .navbar .navbar__submenu li a:hover,
.navbar .navbar__submenu li span[aria-haspopup=true]:active,
.navbar .navbar__submenu li span[aria-haspopup=true]:focus,
.navbar .navbar__submenu li span[aria-haspopup=true]:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: var(--border-radius);
  color: var(--white) !important;
}
.navbar .navbar__submenu li span {
  color: var(--white) !important;
  padding: 0.5333333333rem 1.3333333333rem;
}
.navbar .navbar__submenu li:hover > a, .navbar .navbar__submenu li:hover > span[aria-haspopup=true] {
  color: var(--white) !important;
}
.navbar .navbar__toggle {
  background: var(--light);
  box-shadow: none;
  border: none;
  cursor: pointer;
  display: block;
  line-height: 1;
  overflow: visible;
  padding: 1rem;
  text-transform: none;
  z-index: 2004;
}
@media all and (min-width: 56.25em) {
  .navbar .navbar__toggle {
    display: none;
  }
}
.navbar .navbar__toggle:hover, .navbar .navbar__toggle:focus {
  box-shadow: none;
  outline: none;
  transform: none;
}
.navbar .navbar__toggle-box {
  width: 24px;
  height: 14px;
  display: inline-block;
  position: relative;
}
.navbar .navbar__toggle-inner {
  display: block;
  top: 50%;
  text-indent: -9999999em;
}
.navbar .navbar__toggle-inner::before {
  content: "";
  display: block;
  top: -6px;
}
.navbar .navbar__toggle-inner::after {
  content: "";
  display: block;
  bottom: -6px;
}
.navbar .navbar__toggle-inner, .navbar .navbar__toggle-inner::before, .navbar .navbar__toggle-inner::after {
  width: 22px;
  height: 2px;
  background-color: var(--dark);
  position: absolute;
  transition: transform, opacity 0.14s ease-out;
}
.navbar .navbar__toggle-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle-inner::before {
  transition: top 0.075s ease 0.12s, opacity 0.075s ease;
}
.navbar .navbar__toggle-inner::after {
  transition: bottom 0.075s ease 0.12s, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s ease 0.12s;
}
.navbar .navbar__toggle.is-active .navbar__toggle-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.navbar_mobile_overlay {
  background: var(--lighter);
  height: calc(100vh - var(--navbar-height));
  left: 0;
  opacity: 1;
  overflow: auto;
  pointer-events: auto;
  position: fixed;
  top: var(--navbar-height);
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 1000;
}
.navbar_mobile_overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.navbar_mobile_overlay .navbar__menu {
  margin: 24px;
}
.navbar_mobile_overlay .navbar__menu li {
  font-family: var(--heading-font);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar_mobile_overlay .navbar__menu li a,
.navbar_mobile_overlay .navbar__menu li .is-separator {
  color: var(--dark);
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_overlay .navbar__menu li a:active, .navbar_mobile_overlay .navbar__menu li a:focus, .navbar_mobile_overlay .navbar__menu li a:hover,
.navbar_mobile_overlay .navbar__menu li .is-separator:active,
.navbar_mobile_overlay .navbar__menu li .is-separator:focus,
.navbar_mobile_overlay .navbar__menu li .is-separator:hover {
  color: var(--primary-color);
}
.navbar_mobile_overlay .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_overlay .navbar__menu li .is-separator[aria-haspopup=true]::after {
  border-left: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  content: "";
  display: inline-block;
  height: 6px;
  left: 12px;
  position: relative;
  top: -4px;
  transform: rotate(-45deg);
  width: 6px;
}
.navbar_mobile_overlay .navbar__submenu {
  margin: 0;
  padding: 0;
  visibility: hidden;
}
.navbar_mobile_overlay .navbar__submenu[aria-hidden=false] {
  visibility: visible;
}
.navbar_mobile_overlay .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_overlay .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}

.navbar_mobile_sidebar {
  background: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  height: 100vh;
  left: 0;
  max-width: 400px;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 80%;
  z-index: 1000;
}
.navbar_mobile_sidebar.is-hidden {
  left: -400px;
}
.navbar_mobile_sidebar .navbar__menu {
  margin: 24px;
}
.navbar_mobile_sidebar .navbar__menu li {
  font-family: var(--heading-font);
  font-size: 16px;
  list-style: none;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.navbar_mobile_sidebar .navbar__menu li a,
.navbar_mobile_sidebar .navbar__menu li .is-separator {
  color: var(--dark);
  display: block;
  padding: 10px 20px 10px 0;
  position: relative;
}
.navbar_mobile_sidebar .navbar__menu li a:active, .navbar_mobile_sidebar .navbar__menu li a:focus, .navbar_mobile_sidebar .navbar__menu li a:hover,
.navbar_mobile_sidebar .navbar__menu li .is-separator:active,
.navbar_mobile_sidebar .navbar__menu li .is-separator:focus,
.navbar_mobile_sidebar .navbar__menu li .is-separator:hover {
  color: var(--primary-color);
}
.navbar_mobile_sidebar .navbar__menu li a[aria-haspopup=true]::after,
.navbar_mobile_sidebar .navbar__menu li .is-separator[aria-haspopup=true]::after {
  border-left: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  content: "";
  display: inline-block;
  height: 6px;
  left: 12px;
  position: relative;
  top: -4px;
  transform: rotate(-45deg);
  width: 6px;
}
.navbar_mobile_sidebar .navbar__submenu {
  margin: 0 0 0 24px;
  padding: 0;
  visibility: hidden;
}
.navbar_mobile_sidebar .navbar__submenu[aria-hidden=false] {
  visibility: visible;
}
.navbar_mobile_sidebar .navbar__submenu_wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
}
.navbar_mobile_sidebar .navbar__submenu_wrapper.is-active {
  height: auto;
  opacity: 1;
}
.navbar_mobile_sidebar__overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0;
  transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  z-index: 1000;
}
.navbar_mobile_sidebar__overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.breadcrumb {
  line-height: 1;
  margin: 0;
  position: absolute;
  top: -2.4rem;
}
.breadcrumb > li {
  font-size: 0.8789062495rem;
  display: inline;
  list-style: none;
  padding: 0;
}
.breadcrumb > li > span {
  color: var(--gray-2);
  padding-right: 0.4266666667rem;
}
.breadcrumb > li a {
  padding-right: 0.4266666667rem;
}
.breadcrumb > li a {
  color: var(--text-color);
  transition: all 0.12s linear 0s;
}
.breadcrumb > li a:hover {
  color: var(--link-color);
}
.breadcrumb > li a:active {
  color: var(--link-color);
}
.breadcrumb > li a:focus {
  outline: none;
}

.wrapper {
  box-sizing: content-box;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 var(--page-margin);
}

.inner {
  max-width: var(--entry-width);
  margin: 0 auto;
}

.main {
  margin-top: 10.1333333333rem;
  position: relative;
  z-index: 0;
}
@media all and (min-width: 75em) {
  .main {
    margin-top: 11.4666666667rem;
  }
}
@media all and (min-width: 56.25em) {
  .main--grid {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-areas: "sidebar main";
    gap: 2rem;
  }
}
@media all and (min-width: 75em) {
  .main--grid {
    gap: 3rem;
  }
}
@media all and (min-width: 75em) {
  .main.no-sidebar {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
.main.is-hero {
  margin-top: 4.8rem;
}
@media all and (min-width: 75em) {
  .main.is-hero {
    margin-top: 6.1333333333rem;
  }
}
.main > div {
  position: relative;
}
.main__left {
  grid-area: sidebar;
}
.main__right {
  grid-area: main;
}
@media all and (max-width: 56.1875em) {
  .main__right + .main__left {
    margin-top: 3.2rem;
  }
}

.hero {
  background-color: var(--lighter);
  border-bottom: 1px solid var(--light);
  position: relative;
  z-index: 2;
}
.hero.is-search {
  background-color: transparent;
  border: none;
}
.hero h1 {
  background-position: 50% 0;
  margin-top: 0;
  padding-top: 2.1333333333rem;
  font-size: clamp(1.6758293408rem, 1.6758293408rem + 1.732532944 * (100vw - 20rem) / 70, 3.4083622848rem);
}
.hero h1 > sup {
  font-size: 1.066666667rem;
  vertical-align: top;
}
.hero p {
  font-size: 1.1377777785rem;
  max-width: var(--entry-width);
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 56.1875em) {
  .hero p {
    margin-top: 0.8rem;
  }
}
.hero__wrapper {
  padding-top: 8rem;
  padding-bottom: 4rem;
  position: relative;
  text-align: center;
}
@media all and (min-width: 56.25em) {
  .hero__wrapper {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
}
@media all and (min-width: 87.5em) {
  .hero__wrapper {
    padding-top: 12rem;
    padding-bottom: 8rem;
  }
}

.search {
  margin-top: -5.3333333333rem;
  padding-top: 5.3333333333rem;
  position: sticky;
  top: -1px;
  z-index: 1;
}
.search::before {
  background: var(--lighter);
  border-bottom: 1px solid var(--light);
  bottom: 25%;
  content: "";
  display: block;
  height: 200vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.search__form {
  position: relative;
}
@media all and (min-width: 75em) {
  .search__form {
    margin: 0 5rem;
  }
}
.search__input {
  background: var(--white) url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M11,20a9,9,0,1,1,9-9A9,9,0,0,1,11,20ZM11,4a7,7,0,1,0,7,7A7,7,0,0,0,11,4Z'/%3e%3cpath d='M21,22a1,1,0,0,1-.71-.29l-4.35-4.35a1,1,0,1,1,1.42-1.42l4.35,4.35a1,1,0,0,1,0,1.42A1,1,0,0,1,21,22Z'/%3e%3c/svg%3e") no-repeat 0 50%;
  background-size: 6.4rem 24px;
  border: 1px solid var(--light);
  border-radius: calc(var(--border-radius) * 2);
  box-shadow: 0 0 45px rgba(var(--primary-color-rgb), 0.15);
  height: 4.8rem;
  padding: 0 2.1333333333rem 0 5.3333333333rem;
  transition: all 0.24s linear;
  font-size: 1.1377777785rem;
  width: 100%;
}
@media all and (min-width: 75em) {
  .search__input {
    height: 6.1333333333rem;
  }
}
.search__input::placeholder {
  font-size: 1rem;
}
.search__input:focus {
  border-color: var(--light);
  box-shadow: 0 0 60px rgba(var(--primary-color-rgb), 0.3);
}
.search__button {
  border-radius: calc(var(--border-radius) * 2);
  font-size: 1.066666667rem;
  padding: 1.0666666667rem 2.5rem;
  right: 0.5333333333rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@media all and (max-width: 37.4375em) {
  .search__button {
    display: none;
  }
}
@media all and (min-width: 75em) {
  .search__button {
    padding: 1.4666666667rem 4.5rem;
    right: 0.7333333333rem;
  }
}
.search__button.is-disabled {
  pointer-events: none;
}

.content {
  border: 1px solid var(--light);
  border-radius: var(--border-radius);
  padding: 2.6666666667rem 2.1333333333rem;
  position: relative;
}
.content::after {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, var(--lighter) 100%);
  content: "";
  border-radius: var(--border-radius);
  display: block;
  height: 10rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.content__header {
  border-bottom: 1px solid var(--light);
  margin-bottom: 2.6666666667rem;
  padding-bottom: 2.1333333333rem;
}
.content__header > svg {
  float: left;
  margin-top: 0.5333333333rem;
  margin-right: 1.3rem;
}
.content__title {
  margin: 0;
}
.content__featured-image {
  margin: 0 0 2.1333333333rem;
  display: inline-block;
}
.content__featured-image > img {
  display: inline-block;
}
.content__entry {
  overflow: hidden;
}
.content__entry > :nth-child(1) {
  margin-top: 0;
}
.content__entry a:not(.btn):not([type=button]):not([type=submit]):not(button) {
  text-decoration: underline;
}
.content__entry a:not(.btn):not([type=button]):not([type=submit]):not(button) {
  color: var(--link-color-hover);
  transition: all 0.12s linear 0s;
}
.content__entry a:not(.btn):not([type=button]):not([type=submit]):not(button):hover {
  color: var(--link-color);
}
.content__entry a:not(.btn):not([type=button]):not([type=submit]):not(button):active {
  color: var(--link-color);
}
.content__entry a:not(.btn):not([type=button]):not([type=submit]):not(button):focus {
  outline: none;
}
.content__tag {
  display: flex;
  margin-top: 3.2rem;
}
.content__tag > svg {
  fill: var(--primary-color);
  flex: 1 0 auto;
  margin: 0.3rem 0.7rem 0 0;
}
.content__tag > ul {
  flex: 1 0 100%;
  margin: 0;
}
.content__tag > ul li {
  display: inline-block;
  list-style: none;
  padding: 0 0.2666666667rem 0.5333333333rem;
}
.content__tag > ul li a {
  font-size: 0.8789062495rem;
}
.content__tag > ul li a::after {
  content: ", ";
}
.content__tag + .content__footer {
  margin-top: 1.6rem;
}
.content__footer {
  align-items: center;
  border-top: 1px solid var(--light);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "author share" "meta meta";
  gap: 0 1rem;
  justify-content: space-between;
  margin-top: 4.2666666667rem;
  margin-bottom: -1.0666666667rem;
  position: relative;
  padding: 1.6rem 0 0;
}
@media all and (min-width: 75em) {
  .content__footer {
    grid-template-columns: auto auto auto;
    grid-template-areas: "author meta share";
  }
}
.content__author {
  align-items: center;
  display: flex;
  font-size: 0.9374999997rem;
  grid-area: author;
}
.content__author > img {
  border-radius: 50%;
  display: block;
  flex: 0 0 auto;
  height: 2.6rem;
  width: 2.6rem;
  margin-right: 1.0666666667rem;
}
.content__meta {
  color: var(--gray-1);
  font-size: 0.8789062495rem;
  grid-area: meta;
}
@media all and (min-width: 37.5em) {
  .content__meta {
    display: flex;
  }
}
@media all and (min-width: 56.25em) and (max-width: 74.9375em) {
  .content__meta {
    display: block;
  }
}
@media all and (max-width: 74.9375em) {
  .content__meta.is-avatar {
    margin-left: 3.6666666667rem;
  }
}
@media all and (min-width: 37.5em) {
  .content__meta > div + div {
    margin-left: 1rem;
  }
}
@media all and (min-width: 56.25em) and (max-width: 74.9375em) {
  .content__meta > div + div {
    margin-left: 0;
  }
}
.content__meta strong {
  margin-right: 0.25rem;
}
.content__share {
  grid-area: share;
}
.content__share-button {
  background: none !important;
  margin-left: auto;
  padding: 0;
  width: auto;
}
.content__share-button > svg {
  fill: var(--dark);
  height: 32px;
  opacity: 0.7;
  transition: all 0.12s linear;
  vertical-align: middle;
  width: 32px;
}
.content__share-button:hover > svg {
  opacity: 1;
}
.content__share-popup {
  background: var(--white);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  bottom: 95%;
  display: none;
  padding: 1rem;
  position: absolute;
  right: 8px;
  text-align: left;
  transition: all 0.3s ease-out;
}
.content__share-popup.is-visible {
  display: block;
}
.content__share-popup > a {
  color: var(--text-color);
  display: block;
  font-size: 0.8789062495rem;
  padding: 0.2666666667rem 0.5333333333rem;
}
.content__share-popup > a:hover {
  background: var(--light);
  border-radius: 4px;
  text-decoration: none;
}
.content__share-popup > a > svg {
  display: inline-block;
  height: 1.0666666667rem;
  margin-right: 0.5333333333rem;
  pointer-events: none;
  vertical-align: middle;
  width: 1.0666666667rem;
}
.content__progress {
  height: 4px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.content__progress::after {
  background: linear-gradient(to right, var(--primary-color) var(--scroll), transparent 0);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.post__image {
  display: inline-block;
}
.post__image > img {
  display: inline-block;
}
.post__image--left {
  float: left;
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
  max-width: 50%;
}
.post__image--right {
  float: right;
  margin-bottom: 1.6rem;
  margin-left: 1.6rem;
  max-width: 50%;
}
.post__image--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.post__video, .post__iframe {
  position: relative;
  display: block;
  margin-top: 2.1333333333rem;
  margin-bottom: 2.1333333333rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.post__video::before, .post__iframe::before {
  display: block;
  content: "";
  padding-top: var(--embed-aspect-ratio);
}
.post__video iframe, .post__video video, .post__iframe iframe, .post__iframe video {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.post__toc {
  margin-top: 1.6rem;
}
.post__toc h3 {
  margin-top: 0;
  font-size: clamp(1.1377777785rem, 1.1377777785rem + 0 * (100vw - 20rem) / 70, 1.1377777785rem);
}
.post__toc ul {
  counter-reset: item;
  list-style: decimal;
  margin: 0.5333333333rem 0 0 3ch;
}
.post__toc ul li {
  counter-increment: item;
  padding: 0;
}
.post__toc ul ul {
  margin-top: 0;
}
.post__toc ul ul li {
  display: block;
}
.post__toc ul ul li:before {
  content: counters(item, ".") ". ";
  margin-left: -3ch;
}

.comments-area {
  border-top: 1px solid var(--light);
  margin-top: 2.6666666667rem;
  padding-top: 0.5333333333rem;
}

.banner--after-post {
  margin-top: 4rem;
}

.tag {
  background-repeat: no-repeat;
  background-size: 24px;
}

.tags-list {
  margin: 0;
  text-align: center;
}
.tags-list li {
  display: inline-block;
  margin: 0 0.5333333333rem 1.0666666667rem;
  padding: 0;
}
.tags-list li a {
  background-position: 1.5rem 50%;
  border: 1px solid var(--light);
  border-radius: var(--border-radius);
  display: block;
  position: relative;
  padding: 1.0666666667rem 2rem;
}
.tags-list li a.tag {
  padding: 1.0666666667rem 2rem 1.0666666667rem 4rem;
}

.page--author__avatar {
  box-shadow: 0 0 45px rgba(var(--primary-color-rgb), 0.25);
  border-radius: 50%;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  margin-bottom: -1.0666666667rem;
}
.page--author__website {
  align-items: center;
  display: inline-flex;
  margin-top: 1.6rem;
}
.page--author__website a {
  margin-left: 0.4rem;
}
.page--search form {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}
@media all and (max-width: 37.4375em) {
  .page--search input {
    margin-bottom: 0.5333333333rem;
  }
}
@media all and (min-width: 20em) {
  .page--search input {
    flex: 1 0 auto;
  }
}
@media all and (min-width: 37.5em) {
  .page--search input {
    margin-right: 0.5333333333rem;
  }
}
@media all and (max-width: 37.4375em) {
  .page--search button {
    width: 100%;
  }
}

.subpages {
  border-top: 1px solid var(--light);
  margin-top: 2.6666666667rem;
  padding: 2.6666666667rem 0 0;
}
.subpages__title {
  margin-top: 0;
}
.subpages__list {
  list-style: initial;
  margin-left: 2ch;
}
.subpages__list ul {
  list-style: initial;
  margin: 0 0 0 2ch;
}
.subpages__list li {
  padding: 0 0 0 1ch;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.ordered-list {
  counter-reset: listCounter;
}
.ordered-list li {
  counter-increment: listCounter;
  list-style: none;
  position: relative;
}
.ordered-list li::before {
  color: var(--primary-color);
  content: counter(listCounter, decimal-leading-zero) ".";
  font-variation-settings: "wght" var(--font-weight-bold);
  left: -1.9rem;
  position: absolute;
}

.msg {
  border-left: 4px solid transparent;
  padding: 1.0666666667rem 2.1333333333rem;
}
.msg--highlight {
  background-color: #fff8e6;
  border-color: #e2ac4f;
}
.msg--info {
  background-color: #f6fafd;
  border-color: var(--blue);
}
.msg--success {
  background: #f7fbf6;
  border-color: #5ab44b;
}
.msg--warning {
  background: #fff3f3;
  border-color: #c06367;
  color: #a94442;
}

.dropcap:first-letter {
  float: left;
  font-family: var(--heading-font);
  font-size: 2.8084039796rem;
  font-variation-settings: "wght" var(--font-weight-bold);
  line-height: 0.7;
  margin-right: 0.2666666667rem;
  padding: 0.5333333333rem 0.5333333333rem 0.5333333333rem 0;
}

.link.icon {
  display: inline-block;
}
.link.icon svg {
  vertical-align: middle;
  margin-right: 0.2666666667rem;
}

.pec-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.pec-overlay {
  align-items: center;
  background-color: var(--lighter);
  font-size: 14px;
  display: none;
  height: inherit;
  justify-content: center;
  line-height: 1.4;
  padding: 1rem;
  position: relative;
  text-align: center;
}
@media all and (min-width: 37.5em) {
  .pec-overlay {
    font-size: 16px;
    line-height: var(--line-height);
    padding: 1rem 2rem;
  }
}
.pec-overlay.is-active {
  display: flex;
}
.pec-overlay-inner p {
  margin: 0 0 1rem;
}

.facebook svg {
  fill: #0866FF;
}

.twitter svg {
  fill: #000000;
}

.instagram svg {
  fill: #000000;
}

.vimeo svg {
  fill: #1ab7ea;
}

.pinterest svg {
  fill: #bd081c;
}

.youtube svg {
  fill: #cd201f;
}

.linkedin svg {
  fill: #007bb6;
}

.buffer svg {
  fill: #333333;
}

.mix svg {
  fill: #fd8235;
}

.whatsapp svg {
  fill: #25D366;
}

.sidebar {
  margin: 1.0666666667rem 0;
}
@media all and (min-width: 56.25em) {
  .sidebar {
    position: sticky;
    top: 13.6rem;
  }
}
.sidebar__menu {
  list-style: none;
  margin: 0;
}
.sidebar__menu li {
  margin-bottom: 1.6rem;
  padding-left: 0;
}
@media all and (max-width: 56.1875em) {
  .sidebar__menu li {
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
.sidebar__menu li a {
  background-position: 0 50%;
  display: block;
  position: relative;
}
.sidebar__menu li a.tag {
  padding-left: 42px;
}

.accordion__readmore {
  display: block;
  padding: 0.5333333333rem;
  margin: 0.5333333333rem -0.5333333333rem -1.3333333333rem;
}
.accordion__readmore::after {
  background: transparent;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.accordion__readmore svg {
  fill: var(--secondary-color);
}
.accordion > h2, .accordion > section > h2 {
  border: 1px solid var(--light);
  border-radius: var(--border-radius);
  font-family: var(--body-font);
  font-size: 1rem;
  font-variation-settings: "wght" 500;
  color: var(--link-color);
  cursor: pointer;
  letter-spacing: normal;
  margin: 0;
  padding: 1.3333333333rem 2.1333333333rem;
  position: relative;
  transition: all 0.3s ease-out;
  -webkit-user-select: none;
          user-select: none;
}
.accordion > h2::after, .accordion > section > h2::after {
  content: "+";
  color: var(--primary-color);
  font-variation-settings: "wght" var(--font-weight-normal);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.accordion > h2:hover, .accordion > section > h2:hover {
  background-color: var(--lighter);
  padding-left: 2.6666666667rem;
}
.accordion > h2.is-open, .accordion > section > h2.is-open {
  background-color: var(--white);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.accordion > h2.is-open::after, .accordion > section > h2.is-open::after {
  content: "-";
}
.accordion > h2.icon, .accordion > section > h2.icon {
  background-repeat: no-repeat;
  background-position: 1.8666666667rem 50%;
  background-size: 20px;
  padding-left: 4.2666666667rem;
}
.accordion > h2.icon:hover, .accordion > section > h2.icon:hover {
  padding-left: 4.8rem;
}
.accordion > div, .accordion > section > div {
  background-color: var(--lighter);
  border: 1px solid var(--light);
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  height: 0;
  opacity: 0;
  margin: 0 0 0.8rem;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-out;
}
.accordion div.is-open {
  opacity: 1;
}
.accordion div > .accordion-content-wrapper {
  padding: 1.8666666667rem 2.1333333333rem;
}
.accordion div > .accordion-content-wrapper > :nth-child(1) {
  margin-top: 0;
}
.accordion .is-sticky .accordion__readmore {
  display: block;
  padding: 0.5333333333rem;
  margin: 0.2666666667rem -0.5333333333rem -1.3333333333rem;
}
.accordion .is-sticky > h2, .accordion .is-sticky > section > h2 {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23818795' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-paperclip'%3e%3cpath d='M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48'%3e%3c/path%3e%3c/svg%3e");
  background-color: rgba(var(--secondary-color-rgb), 0.02);
  border-color: rgba(var(--secondary-color-rgb), 0.25);
  color: var(--secondary-color);
}
.accordion .is-sticky > h2::after, .accordion .is-sticky > section > h2::after {
  color: inherit;
}
.accordion .is-sticky > h2:hover, .accordion .is-sticky > section > h2:hover {
  background-color: inherit;
  color: var(--secondary-color);
}
.accordion .is-sticky > div, .accordion .is-sticky > section > div {
  background-color: rgba(var(--secondary-color-rgb), 0.02);
  border-color: rgba(var(--secondary-color-rgb), 0.25);
}

.pagination {
  margin-top: 2.6666666667rem;
}

.footer {
  align-items: center;
  background-color: var(--lighter);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8789062495rem;
  justify-content: space-between;
  margin-top: 4.2666666667rem;
  padding: 1.3333333333rem var(--page-margin);
  position: sticky;
  top: 100%;
}
@media all and (max-width: 37.4375em) {
  .footer {
    justify-content: center;
    text-align: center;
  }
}
@media all and (min-width: 56.25em) {
  .footer {
    margin-top: 4.8rem;
  }
}
@media all and (min-width: 75em) {
  .footer {
    margin-top: 6.1333333333rem;
  }
}
.footer a {
  color: var(--text-color);
  transition: all 0.12s linear 0s;
}
.footer a:hover {
  color: var(--dark);
}
.footer a:active {
  color: var(--dark);
}
.footer a:focus {
  outline: none;
}
.footer__nav {
  margin: 0 auto 0 0;
}
@media all and (max-width: 56.1875em) {
  .footer__nav {
    border-bottom: 1px solid var(--light);
    flex-basis: 100%;
    margin-bottom: 1.3333333333rem;
    padding-bottom: 1.3333333333rem;
  }
}
.footer__nav li {
  display: inline-block;
  padding: 0 0.5333333333rem 0 0;
}
.footer__nav li::after {
  content: "·";
  padding-left: 0.5333333333rem;
}
.footer__nav li:last-child::after {
  content: "";
  padding-left: 0;
}
@media all and (max-width: 37.4375em) {
  .footer__copy {
    flex-basis: 100%;
    margin-bottom: 0.5333333333rem;
  }
}
@media all and (max-width: 37.4375em) {
  .footer__social {
    flex-basis: 100%;
  }
}
@media all and (min-width: 56.25em) {
  .footer__social {
    margin-left: 1.6rem;
  }
}
.footer__social a {
  display: inline-block;
  transition: all 0.24s ease;
  will-change: transform;
}
.footer__social a > svg {
  display: inline-block;
  height: 1.1rem;
  margin: 0 0 0 0.5333333333rem;
  pointer-events: none;
  transition: all 0.12s linear 0s;
  vertical-align: middle;
  width: 1.1rem;
}
.footer__social a:hover {
  text-decoration: none;
  transform: translateY(-2px);
}

.newsletter {
  background: var(--lighter);
  border-top: 1px solid var(--light);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  font-size: 0.9374999997rem;
  margin: 3.2rem -2.1333333333rem -2.6666666667rem;
  padding: 2.6666666667rem 2.1333333333rem 2.1333333333rem;
}
@media all and (min-width: 37.5em) {
  .newsletter form {
    font-size: 0.8789062495rem;
  }
}
.newsletter svg {
  fill: var(--primary-color);
}
.newsletter h3 {
  margin-top: 0;
}
.newsletter a {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}
.newsletter p {
  margin: 0.2666666667rem 0 0.8rem;
}
.newsletter input[type=email],
.newsletter input[type=text] {
  margin-top: 0.5333333333rem;
  width: 49%;
}
.newsletter__agree {
  margin: 1.0666666667rem 0 0;
  text-align: left;
}
.newsletter__agree li {
  display: flex;
  align-items: flex-start;
  padding: 0;
}
.newsletter__agree li label {
  font-variation-settings: "wght" var(--font-weight-normal);
  margin-left: 2.1rem;
  margin-right: 0;
}
.newsletter__agree li label:before {
  margin-left: -2.1rem;
}
.newsletter input[type=submit],
.newsletter button {
  margin-top: 0.8rem;
}
.newsletter + .comments-area {
  border-top: 1px solid var(--light);
  margin-left: -2.1333333333rem;
  margin-right: -2.1333333333rem;
  padding-left: 2.1333333333rem;
  padding-right: 2.1333333333rem;
}

.gallery {
  margin: 2.6666666667rem -0.2666666667rem;
}
@media all and (min-width: 20em) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 20em) {
  .gallery[data-columns="1"] .gallery__item {
    flex: 1 0 100%;
  }
}
@media all and (min-width: 30em) {
  .gallery[data-columns="2"] .gallery__item {
    flex: 1 0 50%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery[data-columns="3"] .gallery__item {
    flex: 1 0 33.333%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="4"] .gallery__item {
    flex: 0 1 25%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="5"] .gallery__item {
    flex: 0 1 20%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="6"] .gallery__item {
    flex: 0 1 16.666%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="7"] .gallery__item {
    flex: 1 0 14.285%;
  }
}
@media all and (min-width: 56.25em) {
  .gallery[data-columns="8"] .gallery__item {
    flex: 1 0 12.5%;
  }
}
.gallery__item {
  margin: 0;
  padding: 0.2666666667rem;
  position: relative;
}
@media all and (min-width: 20em) {
  .gallery__item {
    flex: 1 0 50%;
  }
}
@media all and (min-width: 30em) {
  .gallery__item {
    flex: 1 0 33.333%;
  }
}
@media all and (min-width: 37.5em) {
  .gallery__item {
    flex: 1 0 25%;
  }
}
.gallery__item a {
  display: block;
  height: 100%;
  width: 100%;
}
.gallery__item a::after {
  background: linear-gradient(to top, black, transparent);
  bottom: 0.2666666667rem;
  content: "";
  display: block;
  opacity: 0;
  left: 0.2666666667rem;
  height: calc(100% - 0.5333333333rem);
  position: absolute;
  right: 0.2666666667rem;
  top: 0.2666666667rem;
  transition: all 0.24s ease-out;
  width: calc(100% - 0.5333333333rem);
}
.gallery__item a:hover::after {
  opacity: 0.4;
}
.gallery__item img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.gallery__item figcaption {
  bottom: 1.2rem;
  color: var(--white);
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 1.2rem);
  transition: all 0.24s ease-out;
}
.gallery__item:hover figcaption {
  opacity: 1;
  transform: translate(-50%, 0);
}

.pswp--dark .pswp__bg {
  background: black;
}
.pswp--dark .pswp__button,
.pswp--dark .pswp__button--arrow--left:before,
.pswp--dark .pswp__button--arrow--right:before {
  background-image: url(../svg/gallery-icons-light.svg);
}
.pswp--light .pswp__bg {
  background: var(--white);
}
.pswp--light .pswp__counter {
  color: black;
}
.pswp--light .pswp__caption__center {
  color: var(--gray-1);
}
.pswp--light .pswp__button,
.pswp--light .pswp__button--arrow--left:before,
.pswp--light .pswp__button--arrow--right:before {
  background-image: url(../svg/gallery-icons-dark.svg);
}